<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://questionfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d2356e41-1c31-466c-a42d-b7c14dc16f4f/resourceGroups/QuestionsDemo/providers/Microsoft.Web/sites/QuestionFunctions</ResourceId>
    <UserName>$QuestionFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://questionfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>